/* .debug-border {
  border: 1px dashed black;
} */

body {
  margin: 0;
}

#root {
  box-sizing: border-box;
}

.main-page {
  display: grid;
  grid-template-rows: 100px auto;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 12rem auto;
  grid-gap: 10px;
}
